@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
.Login,.Signup{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: "Open Sans";
    background-image: url('the-investment-background-vector.jpg');
}
.AccountStart{
    margin-bottom: 20px;
}
.Login-div{
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 0px 0px 30px 0px;
    margin: 30px 0px;
    width: 350px;
}
.account-type{
    color: #0B6BCB;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.account-type-div{
    display: flex;
    justify-content: space-evenly;
}
.account{
    border: 2px solid #e6e9f2;
    border-radius: 20px;
    padding: 25px 35px 10px 35px;
    margin: 5px;
}
.account-img{
    height: 65px;
}
.account-name{
    margin: 0px;
    margin-top: 13px;
    text-align: center;
    color: #a7a7a7;
    font-weight: 600;
}
.input{
    width: 100%;
}
.credentials{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-up-link{
    text-decoration: none;
    color: #0B6BCB;
}
.active{
    border: 2px solid #0B6BCB;
}
.active .account-name{
    color: #0B6BCB;
}
.inactive{
    border: 2px solid #e6e9f2;
}
.inactive .account-name{
    color: #a7a7a7;
}
.styledashbord{
    background-image: url('https://wallpapercave.com/wp/wp3129782.jpg');
    height: 100%;
}
